* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  
}


:root {
  --bg-color: #dfe2e8;
  --second-bg-color: #202020;
  --text-color: #3a3a40;
  --second-color: #3a3a40;
  --main-color: #2596be;
  --big-font: 3rem;
  --h2-font: 2rem;
  --p-font: 1rem;
}

.header-top-strip {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  /* background: var(--bg-color); */
  color: var(--text-color);
  padding: 12px 4%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

.header-content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* width: 100%; */
}

.left-content {
  display: flex;
  /* justify-content: flex-start; */
}

.right-content {
  display: flex;
  justify-content: flex-end;
}

.icon-container {
  display: flex;
  /* align-items: center; */
  margin-right: 2rem;
  margin-left : 1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 14px;
  color: var(--text-color);
  transition: all 0.15s ease;
  
}
.icon:hover{
	transform: scale(1.1) translateY(5px);
}


.text {
  margin-right: 10px;
  color: white;
}

.button-container {
  margin-left: -15px;
}

.custom-button.btn {
  width: 80px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  font-size: 12px; /* Adjust the font size as needed */
  margin-right: 2px;
}

.icon-container a {
  text-decoration: none;
  color: #636361;
  
}

.contact-link,
.mail-link {
  color: black;
}


.custom-logo {
  height: 280px !important;
  position: absolute !important;
  width: auto !important;
  margin-top: -80px;
  margin-left: -80px;
  
}

.navlist {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  letter-spacing: 1px;
  margin-left: 250px;
  
}
.navlist .navlink {
  color: #636361;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.1s;
}

.navlist .navlink:hover {
  color: #636361 !important;
  border-bottom: 2px solid #636361 !important;
}

.search-container {
  height: 36px; /* Adjust this value to match the height of the search bar */
}

.search {
  display: flex;
  align-items: center;
  margin-right: 30px;

}

.search .form-control {
  width: 200px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
}

.search .custom-button.btn {
  width: 80px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  font-size: 12px; /* Adjust the font size as needed */
  margin-left: 5px; /* Adjust the margin as needed */
}


.custom-button.btn {
  background-color: white !important;
  border: 0.5px solid black !important;
  color: black !important;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button.btn:hover {
  background-color: #636361 !important;
  color: white !important;
}



/* Banner */
.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  width: 100% !important;
  height: 100vh;
  
  border-radius: 1%;
  transition: border-radius 0.3s ease;
}

.carousel-item.active img {
  border-radius: 1%;
}


/* Login */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: 85px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.custom-input {
  width: 100% !important;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.custom-input.mobile-error:focus,
.custom-input.password-error:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.login-button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: white !important;
  border: 0.5px solid black !important;
  color: black !important;
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: #636361 !important;
  color: white !important;
}

.checkbox {
  margin-bottom: 10px;
  
}

.checkbox .form-check-input {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #636361;
}

.checkbox .form-check-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 0;
  color: #636361;
}


.forgot-password-link {
  font-size: 14px;
  color: #636361;
 
  text-decoration: none;
  margin-left: 60px;
  
}

.forgot-password-link:hover {
  text-decoration: underline;
}

/* Footer */

.footer a {
  text-decoration: none;
}

.hero-details img{
  width: 100%;
  height: 85px;
}

.hero-details .card {
  border-radius: 10px;
}

.card {
  margin: 0 10px;
}


/* product */
.card {
  width: 100%;
  height: 100%;
  
}

.card-details {
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
}

.link {
  text-decoration: none;
}



.card1 {
  width: 40%;
  
  
}

.cart-item .img-fluid {
  width: 570px; /* Adjust the width to your desired size */
  height: 570px; /* Maintain the aspect ratio */
}


/* single product */
.add-button.btn {
  width: 140px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  font-size: 18px; /* Adjust the font size as needed */
  margin-right: 2px;
}


.add-button.btn {
  background-color: white !important;
  border: 0.5px solid black !important;
  color: black !important;
  
}

/* dashboard */

div {
  text-decoration: none !important;
}

div h6 {
  font-weight: 500;
  font-size: 1rem;
}

.container1 {
  display: grid;
  width: 96%;
  margin: 0;
  gap: 1.8rem;
  grid-template-columns: 14rem auto ;
}

aside{
  height: 100vh;
  border-right: 1px solid #ccc;
  padding-right: 10px; /* Optional: Add padding to create space between the border and content */
}

aside .top {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
  
}




/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

.sidebar a {
  display: flex;
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  color: black;
  
  text-decoration: none;
}

.sidebar a span {
  font-size: 2rem;
  
}


.icons {
  position: relative; /* Add relative positioning */
  display: flex;
  align-items: center;
  padding: 5px;
  border-left: 3px solid transparent;
  
  
}



.icons h6 {
  margin: 1rem;
  font-weight: 1;
  
}



/* Styling for the last icon */


/* dashboard */



/* main  */

main {
  margin-top: 1.4rem;
  
}

main .date {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}



.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.chart-area {
  position: relative;
  height: 16rem;
  width: 100%;
}

.custom-card {
  margin-left: 20px; /* Adjust the margin value as needed */
}

.button-container {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: flex-end;
}

/* tables */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 5rem;
}

.product-table th,
.product-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
}

.archive-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.archive-button:hover {
  background-color: #45a049;
}

.archive-button:active {
  background-color: #3e8e41;
}

.archive-button.archived {
  background-color: #ccc;
  cursor: not-allowed;
}

.archive-button.archived:hover {
  background-color: #ccc;
}

.archive-button.archived:active {
  background-color: #ccc;
}


.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.edit-icon {
  color: #999;
  font-size: 20px;
}

.edit-icon:hover {
  color: #333;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.pagination button.active {
  background-color: #333;
  color: #fff;
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-bar select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.search-bar button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.search-bar button svg {
  font-size: 25px;
}


.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.edit-modal h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.edit-modal label {
  display: block;
  margin-bottom: 5px;
}

.edit-modal input,
.edit-modal textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-modal button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-modal button:first-of-type {
  background-color: #007bff;
}

.edit-modal button:last-of-type {
  margin-left: 10px;
  background-color: #dc3545;
}

.edit-modal button:hover {
  opacity: 0.9;
}

.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* user details */

.profile-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.profile-table th,
.profile-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.profile-table th {
  background-color: #f2f2f2;
}

.orders-table {
  border-collapse: collapse;
  width: 100%;
}

.orders-table th,
.orders-table td {
  padding: 8px;
  text-align: left;
}

.orders-table th {
  background-color: #f2f2f2;
}


/* Users admin */

.set-admin-container {
  width: 200px;
  margin-left: auto;
  padding: 2px;
}

.admin-form {
  display: flex;
  flex-direction: column;
}

.admin-input {
  margin-top: 2px;
  padding: 2px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-button {
  margin-top: 10px;
  padding: 6px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-message {
  margin-top: 10px;
  font-size: 16px;
}

.dashboard-container {
  display: flex;
  justify-content: flex-end;
}


/* add product */

/* Modal Styles */
.add-product-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 40%; /* Adjust the width as needed */
  max-width: 1000px; /* Set a maximum width if desired */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-product-modal h2 {
  margin-top: 0;
}





.product-input {
  width: 100%;
  max-width: 500px !important; /* Adjust the max-width as desired */
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Adjust the font size as desired */
}


.product-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Overlay Styles */
.add-product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar .add-product-button{
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}


.remove-icon {
  color: #999;
  font-size: 20px;
}

.remove-icon:hover {
  color: #333;
}

/* Add To Cart */

.quantity-input {
  margin-top: 10px;
}

.quantity-input label {
  display: block;
  margin-bottom: 5px;
}

.quantity-input input[type="number"] {
  width: 70px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: none;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
  justify-content: flex-end;
}

.quantity-input {
  margin-bottom: 20px;
}

.quantity-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.quantity-input input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.modal .btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.modal .btn-primary:hover {
  background-color: #0056b3;
}

/* Cart.css */

.empty-cart-message {
  font-size: 18px;
  text-align: center;
  color: #888;
  margin-bottom: 20px;
}

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Empty cart message styles */
.empty-cart-message {
  font-size: 18px;
  text-align: center;
  color: #555555;
}

/* Cart items section styles */
.cart-items {
  margin-top: 20px;
}

.title-cart{
  margin-left: 1rem;
  margin-top: 3rem;
}
.cart-items h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  margin-top: 2rem;
}

.cart-item .product-name {
  font-size: 16px;
  font-weight: bold;
 
}

.cart-item .product-description {
  font-size: 14px;
  color: #777777;
  margin-top: 5px;
}

.cart-item .product-quantity {
  font-size: 14px;
  color: #555555;
  margin-top: 5px;
}

.cart-item .product-subtotal {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
}

/* Cart total section styles */
.cart-total {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
  font-weight: bold;
  margin-right: 1rem;
}

/* Buttons styles */
.button-container2 {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 1rem;
}

.checkout-button,
.continue-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
  background-color: #337ab7 !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.checkout-button:hover,
.continue-button:hover {
  background-color: #23527c !important;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.quantity-input {
  position: relative;
  width: 50px;
  padding: 5px;
  text-align: center;
}

.quantity-input input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  
}

.quantity-input input[type="number"]::-webkit-inner-spin-button,
.quantity-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
  position: absolute;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* checkout */

.title-cart2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 3rem;
  margin-left: 2rem;
}

.empty-cart-message2 {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}

.cart-items-container2 {
  display: grid;
  gap: 10px;
}

.cart-item2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 2rem;
  margin-right: 2rem;
}

.product-name2 {
  font-weight: bold;
}

.product-description2 {
  font-size: 14px;
  color: #888;
}

.quantity-controls2 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.quantity-btn2 {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  color: #fff;
  cursor: pointer;
}

.quantity-input2 {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

.remove-icon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.cart-total2 {
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}


.button-container2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn2 {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.btn2:last-child {
  margin-right: 0;
}


.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5rem;
  margin-bottom: 20px;
}

.order-table th,
.order-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

.order-table th {
  background-color: #f2f2f2;
}

.order-table td ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.order-table td ul li {
  margin-bottom: 4px;
  word-wrap: break-word;
}

.header-upper {
  background-color: white;
}